[MASTER_CAL]
GAIN_HK=2.0
GAIN_YJ=2.2

REFDATE=20140525

THAR_REFSPEC_JSON=arc.XeHgAr.%(BAND)s_oned.json
THAR_IDENTIFIED_LINES_V0_JSON=identified_lines.%(BAND)s.low_error.XeHgAr_lines.dat.json
THAR_INDICES_JSON=ref_arc.XeHgArlines_indices.json

THARLINES_JSON=XeHgAr_lines.dat

SKY_REFSPEC_JSON=oh.%(BAND)s_oned.json
SKY_IDENTIFIED_LINES_V0_JSON=oh.%(BAND)s_identified_linesupdate.json
OHLINES_INDICES_JSON=ref_ohlines_indices.json
OHLINES_JSON=ohlines.dat

ECHELLOGRAM_JSON=%(BAND)s.XeHgArKr_echellogram_multiple_id_lines_curvefit_peaks_fit_wvlsol__p3_o3.json

TELL_WVLSOL_MODEL=TelluricModel.dat
TELFIT_MODEL=telluric/transmission_%(BAND)s.npy

HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_20140316.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.igrins.npy

DEFAULT_DEADPIX_MASK=bad_pixels_%(BAND)s.fits
