[MASTER_CAL]
GAIN_HK=2.0
GAIN_YJ=2.0

CENTER_BAND_HK = 2400
CENTER_BAND_YJ = 1800

REFDATE=20140525
REFDIR=20230726

TELGRIDFILE_YJ=/Users/njmille2/Astro/PypeIt/pypeit/data/telluric/atm_grids/TelFit_MaunaKea_3100_26100_R20000.fits

THAR_REFSPEC_JSON=%(REFDIR)/arc.arc.%(BAND)s_oned.json
THAR_IDENTIFIED_LINES_V0_JSON=%(REFDIR)/identified_lines.%(BAND)s.low_error.arc_lines.dat.json
THAR_INDICES_JSON=%(REFDIR)/ref_arc.arclines_indices.json
THARLINES_JSON=%(REFDIR)/arc_lines.dat

SKY_REFSPEC_JSON=%(REFDIR)/%(BAND)s_oned.json
SKY_IDENTIFIED_LINES_V0_JSON=%(REFDIR)/%(BAND)s_identified_linesupdate.json
OHLINES_INDICES_JSON=%(REFDIR)/ref_ohlines_indices.json
OHLINES_JSON=%(REFDIR)/ohlines.dat

ECHELLOGRAM_JSON=%(BAND)s.XeHgArKr_echellogram_multiple_id_lines_curvefit_peaks_fit_wvlsol__p3_o3.json

TELL_WVLSOL_MODEL=TelluricModel.dat
TELFIT_MODEL=telluric/transmission_%(BAND)s.npy

HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_20140316.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.igrins.npy

DEFAULT_DEADPIX_MASK=bad_pixels.%(BAND)s.fits
