[MASTER_CAL]
GAIN_HK=2.0
GAIN_YJ=2.2

REFDATE=20140525

#THAR_REFSPEC_JSON=%(REFDATE)s/ThAr/SDC%(BAND)s_%(REFDATE)s_0003.oned_spec.json
#THAR_IDENTIFIED_LINES_V0_JSON=%(REFDATE)s/ThAr/ThAr_SDC%(BAND)s_%(REFDATE)s.identified_lines_v0.json

ARCS_REFSPEC_JSON=Arcs/rimas.0001.%(BAND)s

SKY_REFSPEC_JSON=YJ_oned.json
SKY_IDENTIFIED_LINES_V0_JSON=YJ_identified_linesupdate.json

ECHELLOGRAM_JSON=YJ_echellogram_fit_wvlsol__p3_o5.json

TELL_WVLSOL_MODEL=TelluricModel.dat
TELFIT_MODEL=telluric/transmission_%(BAND)s.npy

OHLINES_INDICES_JSON=ref_ohlines_indices.json
OHLINES_JSON=ohlines.dat

HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_20140316.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.npy

DEFAULT_DEADPIX_MASK=bad_pixels_%(BAND)s.fits

