[MASTER_CAL]
GAIN_DEVENY=1.52

REFDATE=20221210

THAR_REFSPEC_JSON=arcs_oned.json
THAR_IDENTIFIED_LINES_V0_JSON=ArINeI_id_lines.json

SKY_REFSPEC_JSON=sky_oned.json
SKY_IDENTIFIED_LINES_V0_JSON=OH_identified_lines_update.json

ECHELLOGRAM_JSON=deveny_echellogram_wvl_sol.json

TELL_WVLSOL_MODEL=telluric/transmission_deveny.dat
TELFIT_MODEL=telluric/transmission_deveny.npy

OHLINES_INDICES_JSON=oh_ref_indices.json
OHLINES_JSON=ohlines.dat

THAR_INDICES_JSON=ArINeI_ref_indices.json
THARLINES_JSON=ArINeI_lines.dat

#HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_20140316.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.npy

DEFAULT_DEADPIX_MASK=deveny_bad_pix_map.fits

WVL_SOL_P_INIT = deveny_fit.p
