[MASTER_CAL]
GAIN=1.52

REFDATE=20210506

THAR_REFSPEC_JSON=CdArNeHg_onedspec.json
THAR_IDENTIFIED_LINES_V0_JSON=CdArNeHg_identified_lines_update.json
THAR_INDICES_JSON=deveny_ref_indices.json

SKY_REFSPEC_JSON=sky_onedspec.json
SKY_IDENTIFIED_LINES_V0_JSON=OH_identified_lines_update.json

ECHELLOGRAM_JSON=deveny_echellogram_wvl_sol.json

TELL_WVLSOL_MODEL=TelluricModel.dat
#TELFIT_MODEL=telluric/transmission_%(BAND)s.npy


OHLINES_INDICES_JSON=oh_ref_indices.json
OHLINES_JSON=ohlines.dat

#HITRAN_BOOTSTRAP_K=hitran_bootstrap_K_20140316.json

VEGA_SPEC=A0V/vegallpr25.50000resam5.npy

DEFAULT_DEADPIX_MASK=deveny_bad_pix_map.fits

WVL_SOL_P_INIT = deveny_fit.p